# This is an example .env file. Copy this to .env and fill in the values.

# TV_HOST is the IP address or hostname of the target machine running TeamViewer.
TV_HOST=

# TV_PORT is the port number that TeamViewer is listening on. The default is 9922.
TV_PORT=9922

# TV_USER is the username to use when connecting to the TeamViewer host. The default is "prisoner".
TV_USER=prisoner

# The password to use when connecting to the TeamViewer host. This is required if the host is configured to require a password for remote access.
TV_PASS=

# key-based authentication is an alternative to password-based authentication. If the TeamViewer host is configured to allow key-based authentication, you can specify the path to your private SSH key here.
SSH_KEY_PATH=
